*{box-sizing:border-box}

body{
    margin:0;
    font-family:Poppins,sans-serif;
    background:linear-gradient(135deg,#ff9a9e,#fad0c4);
    color:#fff;
    text-align:center;
}

/* SPLASH */
.splash{
    position:fixed;
    inset:0;
    background:linear-gradient(135deg,#ff9a9e,#fad0c4);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:10;
}

.splash h1{
    font-size:64px;
    letter-spacing:5px;
}

/* LOCK */
.lock-screen{
    display:none;
    height:100vh;
    justify-content:center;
    align-items:center;
}

.lock-box{
    background:rgba(255,255,255,.25);
    backdrop-filter:blur(10px);
    padding:35px;
    border-radius:25px;
    width:300px;
}

.lock-box input{
    width:100%;
    padding:12px;
    border-radius:12px;
    border:none;
    margin:15px 0;
    text-align:center;
}

.lock-box button{
    padding:12px 30px;
    border:none;
    border-radius:20px;
    background:hotpink;
    color:#fff;
    font-size:16px;
}

#errorMsg{margin-top:10px}

/* CONTENT */
#siteContent{display:none}

header{padding:40px}

.glass{
    background:rgba(255,255,255,.25);
    backdrop-filter:blur(10px);
    margin:20px;
    padding:30px;
    border-radius:25px;
}

#time{font-size:20px}

/* GALLERY */
.gallery{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.gallery img{
    width:170px;
    margin:10px;
    border-radius:20px;
    animation:float 4s infinite;
    box-shadow:0 15px 30px rgba(255,105,180,.6);
}

video{
    width:240px;
    margin:10px;
    border-radius:20px;
}

/* NIGHT */
.dark{
    background:linear-gradient(135deg,#0f0c29,#302b63,#24243e);
}

.night-btn{
    position:fixed;
    top:15px;
    right:15px;
    border:none;
    border-radius:50%;
    padding:10px;
    font-size:18px;
}

@keyframes float{
    0%{transform:translateY(0)}
    50%{transform:translateY(-12px)}
    100%{transform:translateY(0)}
}
