body {
    margin:0;
    font-family: Poppins, sans-serif;
    background: linear-gradient(135deg,#ff9a9e,#fad0c4);
    color:white;
    text-align:center;
    overflow-x:hidden;
}

.dark {
    background: linear-gradient(135deg,#0f0c29,#302b63,#24243e);
}

.lock {
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.lock input {
    padding:10px;
    border-radius:10px;
    border:none;
    margin:10px;
}

.lock button {
    padding:10px 20px;
    border:none;
    border-radius:20px;
    background:pink;
}

.glass {
    background: rgba(255,255,255,0.2);
    border-radius:25px;
    padding:30px;
    margin:20px;
}

.gallery {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.gallery img {
    width:150px;
    margin:10px;
    border-radius:20px;
    animation: float 4s infinite;
    box-shadow:0 10px 30px rgba(255,105,180,0.6);
}

video {
    width:240px;
    margin:10px;
    border-radius:20px;
}

.dark-btn {
    position:fixed;
    top:10px;
    right:10px;
    border:none;
    border-radius:20px;
    padding:10px;
}

@keyframes float {
    0%{transform:translateY(0)}
    50%{transform:translateY(-10px)}
    100%{transform:translateY(0)}
}
